<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="app">
  <header>
    <a class="nav" href="/">
      <h3 class="title">URL Shortener</h3>
      <img  class="icon" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
    </a>
  </header>

    
    <div class="content">
      {{{ body }}}  
    </div>
  </div>
</body>
</html>